@font-face {
    font-family: Font1;
    src: url(./font/07070ee11dc38bfbd060.ttf);
}
@font-face {
    font-family: Font2;
    src: url(./font/b44b93a780ecd8dbafec.ttf);
}
@font-face {
    font-family: Font3;
    src: url(./font/bd8de66be4175fed48a7.ttf);
}
@font-face {
    font-family: Font4;
    src: url(./font/c77ea51aaaf5f15bd55d.ttf);
}
@font-face {
    font-family: Font5;
    src: url(./font/dd34dea82ffd23ec2838.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #F9F5EC;
}
main{
    width: 100%;

}
.hero{
    width: 100%;
    height: 100vh;
    background-image: url(https://emmpo.com/assets/846faa9c110b840e7cd7.png);
    background-position: center;
    background-size:cover;
}
nav{
width: 100%;
height: 7vh;

display: flex;
align-items: center;
justify-content: space-between;
padding-left: 50px;
padding-right: 50px;
color: white;
mix-blend-mode: difference;
position: fixed;

}
nav .navpart1 , .navpart3{
font-family: font2;
text-transform: uppercase;

}

nav .navpart2 ul{
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: font1;
}

.hero .top{
    width: 100%;
    font-size: 140px;
    font-family: font2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: #F8FE23;
    line-height: 200PX;
    padding-top: 50px;
    
}
.hero .bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    font-family: font2;
    text-transform: uppercase;
    color: #F8FE23;
    font-size: 50px;
    line-height: 20px;
}
.hero .down{
    width: 100%;
    height: 8vh;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 437px;
}

.hero .down h2{
    font-size: 30px;
    font-family: font3; 

}
.hero .down h3{
    font-family: font2;
    font-size: 28px;
    color:#F8FE23;
}
.hero .downpart1{
    position: fixed;
    left: 50px;
    color: white;
    mix-blend-mode: difference;
}
.hero .downpart2 {
    position: fixed;
    right: 50px;
    color: white;
    mix-blend-mode: difference;
}

.Page2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Page2 h1{
    font-family: font2;
    text-transform: uppercase;
    font-size: 160px;
    line-height: 140px;
    text-align: center;
    
}
.Page2 span{
    color: #7546FF;
}
.Page2 #img1{
    position: absolute;
    top: 56%;
    right: 50px;
    z-index: -1;
    width: 200px;
    rotate: -20deg;
    
}
.Page2 #img2{
    position: absolute;
    top: 78%;
    right: 45px;
    z-index: -1;
    rotate: -20deg;
     
}

.Page3 {
    width: 100%;
    height: 200vh;
    /* overflow: hidden; */
}
.Page3 .content{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}
.Page3 .content img{
    width: 250px;
    height: 100%;
}
.Page3 .content .text{
font-family: font5;
display: flex;
align-items: center;
flex-direction: column;
height: 100%;
height: 100%;
justify-content: flex-end;
gap: 100px;
}
.Page3 .content .text h1{
  
    font-family: font2;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 80px;
    font-family: font5;
    text-align: center;
}
.Page3 .content .text h3{
    font-size: 80px;
    font-family: font2;
   color: #7546FF;
   
}
.Page3 .content #img1{
rotate: -20deg;
}
.Page3 .content #img2{
    rotate: 20deg;
    }

.Page3 .top{
    width: 100%;
    height: 50vh;
    display: flex;

    align-items: center;
    justify-content: center;
    position: relative;
}
.Page3 .top .centerDiv{
    font-family: font2;
    width: 28%;
    height: 100%;
    background-color: #F8FE23;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.Page3 .top .centerDiv img{
    width: 90%;
    height: 75%;
    object-fit: cover;
    object-position: center;
}
.Page3 .top .centerDiv h1{
    font-size: 30px;
    color: white;
    text-align: center;
position: absolute;
top: 20px;
}
.Page3 .top .centerDiv h2{
    font-size: 25px;
    text-align: center;   
}

.Page3 .top .leftDiv{
    width: 30%;
    height: 100%;
/* background-color: #7546FF; */
position: absolute;
left: 100px;
top: -100px;
z-index: -1;
rotate: -20deg;

}


.Page3 .top .leftDiv #img1{

width: 50%;

}
.Page3 .top .leftDiv #img2{
    width: 50%;
    position: absolute;
    top: 75%;
    right: 0;
    z-index: -1;
    rotate: 20deg;
    left: 10%;
    z-index: 1;
}


.Page3 .top .rigthDiv{
    width: 30%;
    height: 100%;
    
    position: absolute;
    right: 0px;
    rotate: 20deg;
}
.Page3 .top .rigthDiv #img1{
   width: 50%;
    height: 75%;
    object-fit: cover;
    object-position: center;
}
.Page3 .top .rigthDiv #img2{
    width: 50%;
    position: absolute;
    top: 45%;
    right: 0;
    z-index: -1;
    rotate: -20deg;
    left: 28%;
    z-index: 1;
}

.Page4 {
    width: 100%;
    height: 220vh;
    background-image: url(https://emmpo.com/assets/03f2ad46425158c491db.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.Page4 .top h1{
    font-size: 150px;
    color: white;
    mix-blend-mode: difference;
    text-transform: uppercase;
    font-family: font2;
    text-align: center;
    line-height: 140px;
}

.Page4 .center h2{
    font-size: 50px;
    display: flex;
    display: flex;

    align-items: center;
    justify-content: center;
    color: #F8FE23;
    gap: 20px;
    text-transform: uppercase;
    font-family: font2;
    font-size: 60px;
}
.Page4 .center img{
    border: 15px solid #F8FE23;
    width: 300px;
}

.Page4 .bottom h2{
    font-size: 70px;
    color: wheat;
    font-family: font2;
    text-transform: uppercase;
    text-align: center;
margin-top: 30px;
}

.Page6{
    width: 100%;
    height: 200vh;
}
.Page6 .top{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.Page6 .top h1{
    font-size: 150px;
    text-transform: uppercase;
    font-family: font2;
    text-align: center;
    line-height: 140px;
}
.Page6 .top  h1 span{
    color: #7546FF;
}

.Page6 .top .text{
    width: 550px;
  height: 300px;
    background-color: #F8FE23;
    margin-left: 650px;
}